In [ ]:
import pandas as pd
import numpy as np

In [108]:
def load_content():
    df_content = pd.read_json('data/content.jsonl', lines=True)

    # getting the rotten tomatoes ratings
    rt_ratings = []
    for ratings_list in df_content['Ratings']:
        rt_rating = next((item['Value'] for item in ratings_list if item['Source'] == 'Rotten Tomatoes'), None)
        if rt_rating:
            rt_rating = int(rt_rating[:-1])
        rt_ratings.append(rt_rating)
    df_content['rtRating'] = rt_ratings

    # getting useful columns
    data_content = df_content[['ItemId', 'Metascore', 'imdbRating', 'imdbVotes', 'rtRating']]

    # replacing string 'N/A' to np.nan and , number separator
    data_content = data_content.replace('N/A', np.nan)
    data_content['imdbVotes'] = data_content['imdbVotes'].str.replace(',', '')

    # converting to numeric data
    data_content['Metascore'] = data_content['Metascore'].astype('Int32')
    data_content['imdbRating'] = data_content['imdbRating'].astype('float32')
    data_content['imdbVotes'] = data_content['imdbVotes'].astype('Int32')
    
    return data_content

In [109]:
data_content

           ItemId  Metascore  imdbRating  imdbVotes  rtRating
0      c9f0f895fb       <NA>         5.5       1980       NaN
1      d3d9446802       <NA>         6.9       6633       NaN
2      c20ad4d76f       <NA>         7.5      11407       NaN
3      8e296a067a       <NA>         4.2         39       NaN
4      54229abfcf       <NA>         6.7       3268       NaN
...           ...        ...         ...        ...       ...
38007  6c0ffc79d0       <NA>         6.2       3202       NaN
38008  e02f371f8c       <NA>         6.3        418       NaN
38009  8c2a2a22b8       <NA>         7.2       1779       NaN
38010  ae74ba6bb7       <NA>         NaN          5       NaN
38011  7adfbaeadf       <NA>         NaN       <NA>       NaN

[38012 rows x 5 columns]